
$primary: #AA3939;
$primary-light:#FFAAAA;
$primary-dark:#801515;

$oxblood: #76323f;

$purple: #882D60;
$purple-dark: #661141;

$cadetblue: #669999;
$cadetblue-light: #9BC2C2;
$cadetblue-lighter: #CFE4E4;
$cadetblue-dark: #226666;


$plaster: #cdcdcd;
$linen: #e9e9e9;

$blackboard: #565656;
$charcoal: #373737;
$charcoal-lighter: #A09F9F;

$projectTransitionSpeed: 0.75s;

$offwhite: #fafafa;
$black: #333;
$speech-bg: rgba(255,255,255,0.2);
$speech-bg-dark: rgba(0,0,0,0.1);