@primary: #AA3939;
@primary-light:#FFAAAA;
@primary-dark:#801515;

@oxblood: #76323f;

@purple: #882D60;
@purple-dark: #661141;

@cadetblue: #669999;
@cadetblue-light: #9BC2C2;
@cadetblue-lighter: #CFE4E4;
@cadetblue-dark: #226666;


@plaster: #cdcdcd;
@linen: #e9e9e9;

@blackboard: #565656;
@charcoal: #373737;
@charcoal-lighter: #A09F9F;

@projectTransitionSpeed: 0.75s;

@offwhite: #fafafa;
@text-black: #2c3e50;

.section{
    padding-left: 0rem;
    padding-right: 0rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to, .intro-fade-enter, .intro-circle-fade-enter {
  opacity: 0
}

.intro-fade-enter-active{
    transition: 2s;
}

.intro-circle-fade-enter-active{
    transition: opacity 2s ease 1.5s;
}

.scrollfire-active{
    transition: 0.5s;
}

.scrollfire-delay{
    transition-delay: 0.5s;
}

.scrollfire{
    opacity: 0;
    transform: rotateX(45deg) translateY(100px) scale(0.75);
}
